@media screen and (min-width: 320px)
{
/* =============================header============================== */
.header {
        line-height: 1.5;
        /* padding: 16px 24px; */
    }

.mob-flex-usage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-background-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
}
.mbl-btn{
display: block;
border: none;
padding: 0;
background-color: transparent;

}
.icon-mbl-btn{
display: block;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--main-text-color);
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-decoration: none;
    /* padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px; */
}

.first-part-logo {
    color: var(--logo-first-part-color);
}
.header-list{
display: none;    
}
.header-social-links {
    margin-top: 48px;
    display: flex;
    gap: 56px;
    align-items: flex-start;
    
}
.adress {
    font-style: normal;
   
}
/* =============================/header============================= */
        .container {
        width: 100%;
            }
       
        .bg-comp-features {    
            display: none;
        }
                .header-list {
          list-style-type: none;
        }
        .third-priourity-title {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
        }    
        .feature-text {
            margin-top: 8px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
            text-align: left;
        }    
        .list-item-comp-features{
            margin-top: 72px;
        }
        .list-item-comp-features:first-child{
        margin-top: 0;
        }
        .desktop-only {
            display: none;
        }
        
       /* =================HEADER-MODAL-WINDOW======================= */
        
        .header-modal-window-wrap{
            padding-top: 90px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 40px;
            position: relative;
            
        }
        .mobile-sections{
            display: flex;
            flex-direction: column;
            row-gap: 40px;

            font-family: Roboto;
            font-size: 36px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0.02em;
            text-align: left;
        
        }
        .nav-flex-usage {
        display: flex;
        flex-direction: column;
        background-color: var(--main-background-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        }
        .tel {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 26px;
        line-height: 1.11;        
        text-transform: capitalize;
        }
        .mail{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        }
        .link {
        text-decoration: none;
        color: var(--link-color);  
        transition: color var(--transition-dur);
        }
        .modal-adress-flex-usage {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 40px;
        }
       
        
       /* =================/HEADER-MODAL-WINDOW======================= */
       /*================== HERO=========================  */
        .hero {
        margin: 0 auto;
        color: var(--hero-section-color);
        background-color: var(--footer-background-color);
        background-image: var(--bg-gradient), url(../images/bg.jpg);
        padding-top: 112px;
        padding-bottom: 112px;
        text-align: center;
        max-width: 1440px;
        background-position: center;
        background-size: cover;
        }
        .hero-title {
        width: 320px;
        margin: 0 auto;
        margin-bottom: 72px;
        font-size: 36px;
        line-height: 1.07;
}

       /*==================/HERO=========================  */
    /* =================OUR TEAM SECTION================= */
    .t-member-card {
    background: var(--t-member-card-background-color);
    box-shadow: var(--t-member-card-box-shadow-color);
    border-radius: 0px 0px 4px 4px;
    border: 1px solid var(--card-border-color);
    width: auto;
    margin-top: 72px;
    }
    

/* ===================CUSTOMERS SECTION============== */
.client-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
}
.client-item{
flex-basis: calc((100% - 16px)/2);
}
}
/* ===========================FOOTER====================================== */
.footer {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    padding-top: 96px;
    padding-bottom: 96px;
    }

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--main-text-color);
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-decoration: none;

    /* margin-right: 76px; */
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    }

.first-part-footer-text {
    margin-top: 16px;
    width: 264px;
    text-align: left;
}

.footer-social-links {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 16px;
}

.footer-social-links-item {

    width: 40px;
    height: 40px;
}

.footer-social-link {
    background: var(--footer-social-link-item-bg-color);
    border-radius: 50%;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-dur);

}

.footer-social-link:is(:hover, :focus) {
    background-color: var(--hover-social-list-background-color);

}

.footer-social-list-icon {
    width: 24px;
    height: 24px;
    fill: var(--footer-social-list-icon-color);
}

.footer-wrap {
   /* flex-wrap: wrap;
   gap: 72px;
   align-items: baseline; */
   display: flex;
   flex-direction: column;
   gap: 72px;
   margin: 0 auto;
 
}

.second-part-logo {
    color: var(--logo-second-part-color);
}

.pb-section {
    padding-bottom: 120px;
}

.footer-common-wrap{
    flex-wrap: wrap;
}

.footer-subscribe-part{
    flex-wrap: wrap;
    justify-content: center;
}
.footer-form{
    text-align: center;
}
/* ================FOOTER-SUBSCRIBE-PART================== */
.footer-subscribe-part {
    display: flex;
    gap: 24px;
    margin-top: 16px;
}

.footer-input-field {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    background-color: var(--footer-input-field-bg-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    color: var(--input-placeholder-color);
}

input::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;

    color: var(--input-placeholder-color);
}

.footer-common-wrap {
    display: flex;
    gap: 80px;
    /* justify-content: space-between; */
}

.footer-button {
    border: none;
    padding: 8px 24px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
    cursor: pointer;
    transition: background-color var(--transition-dur);
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-tg-icon {
    fill: currentColor;

}

.footer-button:is(:hover, :focus) {
    background-color: var(--btn-hover-background-color);
    color: var(--hover-social-list-background-color);
}
.mobile-footer-alignment{
    text-align: center;
}

/* ================/FOOTER-SUBSCRIBE-PART================= */
/* ===========================/FOOTER====================================== */