@media screen and (min-width: 480px){
    .container{
        padding: 0 16px;
        width: 480px;
        margin: 0 auto;
    }    
    .bg-comp-features{
        display: none;
    }
    .third-priourity-title{
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
    }        
        .list-item-comp-features {
        margin-top: 72px;
        }
        .desktop-only{
        display: none;
        }
        
/* ===================HEADER========================= */
.header {
    padding: 0;
}
/* ===================/HEADER======================== */
/* ===================HERO======================== */
.hero {
    
    background-image: var(--bg-gradient), url(../images/bg-tablet-x1.jpg);
    max-width: 767px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: var(--bg-gradient), url(../images/bg-tablet-x2.jpg);
    }
}
/* ===================/HERO======================== */

/* ===================CUSTOMERS SECTION============== */
.client-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
}
.client-item {
    flex-basis: calc((100% - 16px)/2);
}
}